*{
    margin: 30px;
    font-family: sans-serif;
}
body{
    background-color: antiquewhite;
    margin: 20px;
    padding: 20px;
    text-align: left;
    font-size: 16px;
}

.container{
border: 1px, rgb(238, 238, 245), solid;
border-radius: 30px;
background-color: white;
box-shadow: 20px;
}


img{
    width: 40rem;
    height: 20rem;
    border-radius: 10px;
    justify-items: center;
    
}
table{
    width: 100%;
}
.preparation{
    border: 10px, blue;
    border-radius: 30px;
    padding: 10px;
    background-color: antiquewhite;
}
span{
    color: brown;
}